:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  font-family: 'Roboto', sans-serif;
  /* background-color: #E5E5E5; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.header {
  background: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*---------------LOGO---------------*/
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.header-logo-first {
  color: var(--accent-color);
}

.header-logo-last {
  color: #000000;
}

.header-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

/*---------------HEADER---------------*/

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-connect {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-link {
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list {
  display: flex;
  align-items: flex-start;
  height: 48px;
  margin-top: 32px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-link.corent {
  color: var(--accent-color);
}

.header-corent {
  margin-right: 50px;
  height: 100%;
  position: relative;
}

.corent::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: var(--accent-color);

  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  cursor: auto;
}

.header-link,
.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  color: var(--main-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail {
  margin-right: 50px;
}
.header-mail-icon {
  fill: currentColor;
  margin-right: 10px;
}
.header-tel-icon {
  fill: currentColor;
  margin-right: 10px;
}

/*---------------MAIN-CAPTION---------------*/

.main-caption {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/team-work.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.main-caption-title {
  width: 696px;
  margin: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 30px;
}

.main-caption-btn {
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  margin: 0 auto;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 3px solid var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-caption-btn:hover {
  border: 3px solid var(--accent-color);
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255);
}

.main-caption-btn:active {
  transform: scale(0.9);
}

/*---------------MAIN-FEATURES---------------*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features-list {
  display: flex;
}
.features-item + .features-item {
  margin-left: 30px;
}

.features-item {
  max-width: 270px;
}

.features-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
}
.features-icon-svg {
  border-radius: 4px;
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*---------------PRODUCT---------------*/

.product {
  padding-bottom: 94px;
}
.product-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.product-item + .product-item {
  margin-left: 30px;
}
.product-list {
  display: flex;
}

.product-item {
  position: relative;
}
.product-item > .label {
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0px;
  padding: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--second-text-color);
  background: rgba(47, 48, 58, 0.8);
}

/*---------------TEAM---------------*/
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-hero {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.19;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: var(--second-text-color);
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-soc-list {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.team-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.team-soc-item:first-child {
  margin-left: 0;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

/*--------------client----------------*/

.client {
  padding: 94px 0;
}

.client-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.client-list {
  display: flex;
  justify-content: center;
}

.client-icon-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}

.client-icon-item:last-child {
  margin-right: 0;
}

.client-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: currentColor;
}

.client-icon-link:hover,
.client-icon-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
  transform: scale(1.1);
}

/*---------------FOOTER---------------*/

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 56px;
}

.footer-logo {
  margin-bottom: 20px;
}
.footer-logo-first {
  color: var(--accent-color);
}

.footer-logo-last {
  color: var(--second-text-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-adress {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:hover,
.footer-adress:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

.footer-content {
  display: flex;
}

.footer-soc-network {
  margin-left: 70px;
  margin-top: 12px;
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  align-items: unset;
}
.footer-soc-list {
  display: flex;
  margin-top: 20px;
}

.footer-soc-item {
  width: 44px;
  height: 44px;
  margin-left: 10px;
}

.footer-soc-item:first-child {
  margin-left: 0;
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--second-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--accent-color);
}

.form {
  display: flex;
  margin-top: 12px;
  margin-left: 93px;
  height: 86px;
  align-items: end;
}

.mailing-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  align-items: unset;
  margin-bottom: 20px;
}

.mailing-input {
  width: 358px;
  height: 50px;
  padding: 0 0 0 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  outline: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-input:hover,
.mailing-input:focus {
  border-color: #2196f3;
  color: var(--second-text-color);
}

.mailing-submit {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  justify-content: center;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  border: 3px solid var(--accent-color);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mailing-submit:hover {
  cursor: pointer;
  border: 3px solid var(--accent-color);
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255);
}

.mailing-submit-icon {
  margin-left: 10px;
}
/*---------------PORTFOLIO-MAIN---------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.main-portfoli-btn {
  border-radius: 4px;
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfoli-btn:hover,
.main-portfoli-btn:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-info {
  padding: 20px 24px;
  width: 370px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: var(--second-text-color);
}
.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.main-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.main-portfolio-item {
  flex-basis: calc((100% - 90px) / 3);
  margin: 15px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio-src {
  position: relative;
  overflow: hidden;
}

.main-portfolio-item:focus,
.main-portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.main-portfolio-item:hover .overlay {
  transform: translatey(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;

  color: var(--second-text-color);
  background: rgba(33, 150, 243, 0.9);
}

/*---------------MODAL---------------*/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--second-text-color);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: var(--title-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--second-text-color);
  cursor: pointer;
  padding: 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon {
  fill: currentColor;
}

.modal-close-btn:hover {
  color: var(--accent-color);
}

/* .no-scroll {
  overflow: hidden;
} */

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 4px;
}

.modal-input {
  display: flex;
  position: relative;
  cursor: pointer;
  border-color: rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 0 0 42px;
  outline: none;
  cursor: pointer;
  border-color: inherit;
}

.form-input:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}
.modal-input:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.modal-input-icon {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  left: 12px;
  fill: currentColor;
}

.form-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  height: 120px;
  resize: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input-checkbox-link {
  color: #2196f3;
}

.check-text {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.input-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-checkbox:checked + .check-text .check-icon {
  fill: var(--second-text-color);
}

.modal-submit {
  width: 200px;
  height: 50px;
  margin: 30px auto 0;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: 3px solid var(--accent-color);
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit:hover {
  border: 3px solid var(--accent-color);
  box-shadow: inset 0 0 3px 1px rgba(255, 255, 255);
}
